body {
  padding-top: 1em;
}

.starter-template {
  padding: 40px 15px;
  padding-bottom: 0px;
  text-align: center;
}

.anchor {
   display:block;
   height:200px; /* this is the height of your header */
   margin-top:-200px; /* this is again negative value of the height of your header */
   visibility:hidden;
}

#form, #loading {
	display: none; /** Hide the form initially. */
}

.thumbnail {
	max-width: 64px;
	max-height: 64px;
  width: auto;
  height: auto;
	display: inline;
  cursor: pointer;
}